cohere
python-dotenv
openai
deepeval
langchain
langchain-openai
langchain-pinecone
langchain-cohere
langchain-community
langchain-text-splitters
pypdf
beautifulsoup4
requests
sentence-transformers[cross-encoder]
streamlit
fastapi
uvicorn
pydantic
pinecone
newsapi-python
